modular-spring-core/src/main/resources/META-INF/modular.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.yxffcode.cn/modular"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.yxffcode.cn/modular"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xsd:element name="service">
    <xsd:annotation>
      <xsd:documentation>
        绑定服务,当一个模块需要暴露服务给其它模块使用的时候可用此标签
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string"/>
      <xsd:attribute name="interface" type="xsd:string" use="required"/>
      <xsd:attribute name="unique-id" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="reference">
    <xsd:annotation>
      <xsd:documentation>
        引用服务,当一个模块需要引用其它模块的服务的时候可用此标签
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="interface" type="xsd:string" use="required"/>
      <xsd:attribute name="unique-id" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="extension">
    <xsd:annotation>
      <xsd:documentation>
        配置扩展点
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="interface" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="extension-point">
    <xsd:annotation>
      <xsd:documentation>
        配置扩展点的实现
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="extension-name" type="xsd:string" use="required"/>
      <xsd:attribute name="ref" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="auto-stub">
    <xsd:annotation>
      <xsd:documentation>
        用于引用其它模块的服务时的打桩，对于服务尚未实现的时候，此功能可对服务自动代理，如果服务已经发布，则不做代理
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="active" type="xsd:boolean" default="true"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="stub">
    <xsd:annotation>
      <xsd:documentation>
        对服务接口做自动代理
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="interface" type="xsd:string" use="required"/>
      <xsd:attribute name="invocation-handler" type="xsd:string" use="optional"/>
      <xsd:attribute name="invocation-handler-ref" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
